{
    "rules": {
      "no-unused-vars": ["warn","error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }],
      "unused-imports/no-unused-imports": "error",
      "init-declarations": ["warn", "always"],
      "no-shadow": "error",
      "no-undef": "error"
    },
    "plugins": ["unused-imports"]
  }
  