@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #73a4ff33;
  --foreground: #171717;
  --primaty: #185bff;
  --primary-secandry: #4078ff;
  --secandry: #fe7f5e;
  --secandry-primary: #ff3400;
  --primary-gradinet: linear-gradient(to right, #185bff, #4078ff);
  --secandry-gradinet: linear-gradient(to right, #ff3400, #fe7f5e);
  --black: #26292f;
  --black-75: #26292ebf;
  --black-50: hwb(220 15% 82% / 0.500);
  --black-25: hwb(220 15% 82% / 0.250);
  --black-5: hwb(220 15% 82% / 0.050);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #73a4ff33;
    --foreground: #171717;
    --primaty: 24 91 255;
    --primary-secandry: #4078ff;
    --secandry: 254 127 94;
    --secandry-primary: #ff3400;
    --primary-gradinet: linear-gradient(to right, #185bff, #4078ff);
    --secandry-gradinet: linear-gradient(to right, #ff3400, #fe7f5e);
    --black: #26292f;
    --black-75: #26292ebf;
    --black-50: hwb(220 15% 82% / 0.500);
    --black-25: hwb(220 15% 82% / 0.250);
    --black-5: hwb(220 15% 82% / 0.050);
  }
}

body {
  color: var(--black);
  background: var(--background);
}
